/*
 * Footer STYLES
 */
.footer {
  &__content {
    @include font($openSans, 600, normal);
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: $primaryAccent;
    color: $primary;
    font-size: 14px;
    text-transform: uppercase;
  }
}
