/*
 * ANNOUNCEMENT STYLES
 */
.announcement {
  min-height: 400px;

  @include media('>large') {
    min-height: 600px;
  }

  &__protected {
    textarea, input { outline: none; }

    input[type="submit"] {
      background-color: $primaryAccent;
      color: $white;
      border: none;
      padding: 2px 10px;
      text-transform: uppercase;
    }
    label {
      font-weight: bold;
    }
    p+p {
      margin-top: 10px;
    }
  }

  &__post {
    margin-bottom: 50px;
  }

  &__post-header {
    width: 100%;
    margin-bottom: 50px;
  }

  &__row {
    display: flex;
  }

  &__sidebar-block {
    background: $sidebar;
    padding: 15px;
    margin-bottom: 40px;
  }
}
