/*
 * BREADCRUMBS STYLES
 */
.breadcrumbs {
  padding-bottom: 50px;

  ul {
    display: block;
  }

  &__item {
    display: inline-flex;

    &::after {
      content: '>';
      padding-right: 10px;
      color: $link;
    }

    &.last {
      &::after {
        content: none;
      }

    }
  }

  &__link {
    display: block;
    padding-right: 10px;
    color: $link;
    font-size: 18px;
  }
}
