/*
 * LONGFORM STYLES
 */
.longform {
  h1 {
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 20px;
  }

  h3 {
    margin-bottom: 20px;
  }

  h4 {
    margin-bottom: 20px;
  }

  img {
    width: 100%;

    @include media('>large') {
      width: inherit;
    }
  }

  a {
    color: $link;
    text-decoration: underline;
    cursor: pointer;
  }

  ul {}

  li {
    list-style: initial;
    margin-left: 21px;
  }

  .alignright {
    float: right;
    margin-left: 20px;
  }

  .aligncenter {
    float: left;
    margin: 0 auto;
  }

  .alignleft {
    float: left;
    margin-right: 20px;
  }
}
