/*
 * HEADER STYLES
 */
.header {
  background-color: $primary;
  padding-top: 20px;
  padding-bottom: 20px;

  @include media('>large') {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__title {
    @include font($merriweather, 900, normal);
    font-size: 27px;
    color: $white;
    text-align: left;
    letter-spacing: 2px;


    @include media('>large') {
      margin-bottom: 20px;
      width: 100%;
      text-align: center;
      font-size: 45px;
    }

    span {
      display: block;

      @include media('>large') {
        display: inline-block;
      }
    }

    &--splash {
      @include font($merriweather, 900, normal);
      font-size: 22px;
      color: $white;

      @include media('>large') {
        text-align: left;
        font-size: 45px;
      }
    }
  }

  &__menu {
    @include media('>large') {
      display: none;
    }

    svg {
      fill: $primaryAccent;
      width: 40px;
      height: 40px;
    }

    &-input {
      display: none;
    }
  }
}

.header--splash {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;

  .header__title--splash {
    letter-spacing: 2px;

    span {
      display: block;
    }
  }
}
