/*
 * Post STYLES
 */
.post {
  &__year {
    color: $primaryAccent;
    font-size: 18px;
  }

  &__hero {
    position: relative;
  }

  &__arrow {
    position: absolute;
    z-index: 1;
    background: $white;
    border-radius: 50%;
    opacity: 0.5;
    width: 45px;
    height: 45px;
    top: 50%;
    display: block;
    padding: 0;
    transform: translate(0, -50%);

    &:hover {
      opacity: 1;
      cursor: pointer;
    }

    svg {
      width: 110%;
      height: 100%;
      fill: $primaryAccent;
    }

    &--back {
      left: 25px;

      svg {
        padding: 10px 20px 10px 10px;
      }
    }

    &--next {
      right: 25px;

      svg {
        padding: 10px;
      }
    }
  }

  &__gallery.slick-dotted.slick-slider {
    margin-bottom: 65px;
  }

  &__content {
    display: block;

    @include media('>large') {
      display: flex;
    }
  }

  &__title {
    margin-bottom: 10px;

    @include media('>large') {
      margin-bottom: 20px;
    }
  }

  &__subheading {
    margin-bottom: 10px;

    @include media('>large') {
      margin-bottom: 20px;
    }
  }

  &__main {
    width: 100%;

    @include media('>large') {
      width: 70%;
      padding-right: 5%;
    }
  }

  &__sidebar {
    width: 100%;

    img {
      width: 100%;
    }

    @include media('>large') {
      width: 25%;
    }
  }

  &__filter {
    @include media('>large') {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__more {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;

    h1 {
      display: block;
      width: 100%;
    }

    .block {
      width: 100%;
      text-align: center;
      margin-top: 20px;

      @include media('>large') {
        text-align: left;
        width: 33%;
        padding-right: 10px;
      }
    }

    .listing__thumbnail,
    .listing__thumbnail.empty {
      @include media ('<large') {
        margin: 0 auto;
      }
      width: 200px;
      height: 200px;
      margin-bottom: 10px;

      @include media('>large') {
        width: 150px;
        height: 150px;
      }

      @include media('>xlarge') {
        margin: 0;
        width: 200px;
        height: 200px;
      }
    }

    .listing__title {
      font-size: 27px;

      @include media('>xlarge') {
        width: 200px;
      }
    }
  }

  &__tab {
    @include font($openSans, normal, normal);
    font-size: 14px;
    background: $primaryAccent;
    color: $white;
    padding: 5px 10px;
    text-transform: uppercase;
    position: relative;
    width: 100%;
    text-align: center;
    margin-right: 20px;
    margin-top: 0;
    margin-bottom: 20px;
    cursor: pointer;
    opacity: 0.4;

    @include media('>large') {
      flex: 1;
      font-size: 9px;
      margin-right: 10px;
    }

    @include media('>mlarge') {
      font-size: 12px;
      padding: 5px;
      margin-right: 10px;
    }

    @include media('>xlarge') {
      font-size: 16px;
    }

    &:last-child {
      margin-right: 0;
    }

    svg {
      display: none;
      fill: $primaryAccent;
    }

    &.active {
      opacity: 1;

      svg {
        @include media('>large') {
          display: block;
          position: absolute;
          width: 20px;
          height: 20px;
          left: 50%;
          margin-left: -10px;
        }
      }
    }
  }

  &__block {
    margin-top: 40px;
    display: none;

    &.active {
      display: block;
    }
  }

  &__sidebar-block {
    background: $sidebar;
    padding: 15px;
    margin-bottom: 40px;
    h3 {
      color: $white;
    }

    a {
      color: $white;
      word-wrap: break-word;
    }
  }
}
