/*
 * SLICK STYLES
 */
.slick-slider {
  .slick-arrow {
    position: absolute;
  }

  .slick-prev {
    left: 0;
  }

  .slick-next {
    right: 0;
  }

  .slick-dots {
    @include media ('<large') {
      display: none!important;
    }
  }

  .slick-dots li button:before {
    font-size: 25px;
    color: $primary;
  }

  .slick-dots li.slick-active button:before {
    color: $primaryAccent;
  }
}
