/*
 * NAVIGATION STYLES
 */
.nav--main {
  display: none;

  @include media('>large') {
    display: block;
  }

  ul {
    margin-top: 20px;

    @include media('>large') {
      margin-top: 0;
      display: flex;
      justify-content: space-around;
      align-items: baseline;
    }
  }

  li {
    display: block;
  }

  a {
    @include media ('<large') {
      display: block;
      padding: 15px 0;
    }
    color: $primaryAccent;
  }

  .header__menu-input:checked + & {
    display: block;
  }
}
