// Color
$primary: #9a9a6d;
$primaryAccent: #5b5a43;
$sidebar: $primary;
$background: #f2f1eb;
$helperText: #9d9d7b;
$white: #ffffff;
$black: #000000;
$link: #8da6bf;
$text: #454336;
// Layout
$max-width: 1200px;
$spacing: 20px;
// Fonts
$openSans:'Open Sans',  sans-serif;
$merriweather:'merriweather',  serif;
