@charset "UTF-8";

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  line-height: 1.2;
  background: #fff;
  font-family: Gotham A, Gotham B, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-top: 30px solid #c94e27;
}

a {
  text-decoration: none;
}

a:hover {
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

img {
  max-width: 100%;
  display: block;
}

.wrap {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  padding: 0 20px;
}

.wrap:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
/* HEADER */
nav.open {
  top: 0;
}

nav {
  z-index: 10000000;
  width: 129px;
  position: absolute;
  right: 30px;
  top: -143px;
  transition: all 0.5s ease;
}

nav:hover {
  top: 0;
}

nav ul {
  margin: 0 auto -1px;
  background: #C7490F;
  padding-bottom: 8px;
  padding-top: 12px;
}

nav li {
  float: none;
  text-align: center;
  list-style: none;
}

nav li a {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  padding: 4px;
  display: block;
  font-size: 14px;
  font-family: Gotham A, Gotham B, sans-serif;
  font-weight: 700;
}

nav li a:hover {
  color: #7eadbd;
}

nav .logo {
  width: 129px;
  margin: -14px auto 0;
}

.block {
  height: 0;
  padding-bottom: 75%;
  position: relative;
}

.block .height_375 {
  position: absolute;
  width: 100%;
}

.social {
  text-align: center;
  padding-bottom: 15px;
  background: #C7490F;
}

.social a {
  display: inline-block;
  height: 20px;
  width: 20px;
}

.home-content {
  max-width: 2000px;
  margin: 0 auto;
}

.home-content ul {
  overflow: hidden;
}

.home-content li {
  box-sizing: border-box;
  float: left;
  margin: 0;
  list-style: none;
  width: 25%;
  overflow: hidden;
}

.home-content li .block {
  position: relative;
}
@media screen and (max-width: 900px) {
  .home-content li {
    width: 33.3%;
  }
}
@media screen and (max-width: 600px) {
  .home-content li {
    width: 50%;
  }
}
@media screen and (max-width: 400px) {
  .home-content li {
    width: 100%;
  }
}

.home-content h2 {
  font-size: 20px;
  font-family: Gotham A, Gotham B, sans-serif;
  font-weight: 700;
  text-transform: lowercase;
  color: #fff;
  margin-bottom: 10px;
  text-align: center;
}

.home-content h3 {
  font-size: 16px;
  font-family: Gotham A, Gotham B, sans-serif;
  font-weight: 400;
  text-transform: lowercase;
  color: #fff;
  text-align: center;
}

.home-content .deliverable-list {
  font-size: 14px;
}

.home-content a {
  display: block;
}

.content {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 100px;
}

h1 {
  font-family: Gotham A, Gotham B, sans-serif;
  font-weight: 300;
  color: #7d7d7d;
  font-weight: normal;
  margin-bottom: 30px;
}

html .work-intro {
  margin-top: 40px;
  margin-bottom: 60px;
  text-align: center;
}

html .work-intro p {
  font-family: Playfair Display, serif;
  letter-spacing: 0.025em;
  font-size: 21px;
  line-height: 35px;
  color: #7d7d7d;
  max-width: 690px;
  margin: 0 auto 20px;
}

html .work-intro .labels {
  text-align: center;
}

html .work-intro .labels li {
  list-style: none;
  display: inline-block;
  font-family: Gotham A, Gotham B, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #7d7d7d;
  font-size: 14px;
}

html .work-intro .labels li:before {
  content: "•";
  color: #7d7d7d;
  padding-right: 5px;
}

html .work-intro .labels li:first-child:before {
  display: none;
}

.width-400 {
  max-width: 400px;
  margin: 0 auto;
}

.width-500 {
  max-width: 500px;
  margin: 0 auto;
}

.width-600 {
  max-width: 600px;
  margin: 0 auto;
}

.width-700 {
  max-width: 700px;
  margin: 0 auto;
}

.width-800 {
  max-width: 800px;
  margin: 0 auto;
}

.width-900 {
  max-width: 900px;
  margin: 0 auto;
}

.width-1000 {
  max-width: 1000px;
  margin: 0 auto;
}

.width-1100 {
  max-width: 1100px;
  margin: 0 auto;
}

.width-1200 {
  max-width: 1200px;
  margin: 0 auto;
}

.width-1300 {
  max-width: 1300px;
  margin: 0 auto;
}

.width-1400 {
  max-width: 1400px;
  margin: 0 auto;
}

.width-1500 {
  max-width: 1500px;
  margin: 0 auto;
}

.width-1600 {
  max-width: 1600px;
  margin: 0 auto;
}

.work-image-wrap {
  position: relative;
  margin-bottom: 60px;
}

.work-image-wrap figcaption {
  max-width: 90%;
  position: absolute;
  top: 320px;
  right: -40px;
}

.work-image-wrap figcaption p {
  padding: 3px 6px 2px;
  margin-bottom: 3px;
}

.work-image-wrap figcaption p:nth-child(even) {
  background: #c94e27;
  color: #fff;
  font-family: Gotham A, Gotham B, sans-serif;
  font-weight: 700;
}

.work-image-wrap figcaption p:nth-child(odd) {
  background: #000;
  color: #fff;
  font-family: Gotham A, Gotham B, sans-serif;
  font-weight: 400;
}

.work-bar-filter {
  background: #000;
  display: none;
}

.work-bar-filter .inner-wrap {
  max-width: 1000px;
  margin: 0 auto;
}

.work-bar-filter .inner-wrap:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.work-bar-filter .filter-wrap {
  width: 50%;
  float: left;
}

.work-bar-filter .filter-wrap .filter-label {
  display: inline-block;
  color: #fff;
  font-variant: small-caps;
  text-transform: lowercase;
  font-family: Gotham A, Gotham B, sans-serif;
  font-weight: 700;
}

.work-bar-filter .filter-wrap .current-label a {
  display: inline-block;
  background: #fff;
  color: #000;
  text-transform: uppercase;
  font-family: Gotham A, Gotham B, sans-serif;
  font-weight: 400;
}

.work-bar-filter .filter-wrap ul li {
  list-style: none;
  background: #fff;
  float: none;
}

.work-bar-filter .filter-wrap ul li a {
  color: #000;
  text-transform: uppercase;
  font-family: Gotham A, Gotham B, sans-serif;
  font-weight: 400;
}

.work-detail p {
  font-size: 16px;
  line-height: 1.4;
  color: #7d7d7d;
  max-width: 600px;
  margin: 0 auto 60px;
  text-align: center;
  font-family: Playfair Display, serif;
  letter-spacing: 0.025em;
}

.qa {
  max-width: 690px;
  margin: 0 auto 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(125, 125, 125, 0.3);
}

.qa p {
  font-family: Playfair Display, serif;
  letter-spacing: 0.025em;
  font-size: 21px;
  line-height: 35px;
  color: #7d7d7d;
}

.qa:last-of-type {
  border-bottom: none;
}

.qa blockquote {
  margin-bottom: 30px;
}

.qa blockquote p {
  font-style: italic;
  font-size: 95%;
  padding: 20px;
  background: rgba(125, 125, 125, 0.02);
}

a {
  color: #c94e27;
}

.orange-text-color {
  color: #c94e27;
}

.margin-bottom-lg {
  margin-bottom: 20px;
}

.text-align-center {
  text-align: center;
}

.footer {
  max-width: 690px;
  margin: 40px auto;
  border-top: 1px solid rgba(125, 125, 125, 0.05);
  padding-top: 30px;
}
/*---------------*/
/***** Layla *****/
/*---------------*/
figure.effect-layla {
  background: #7eadbd;
}
@media screen and (min-width: 1000px) {
  figure.effect-layla figcaption {
    padding: 3em;
  }
}
@media screen and (min-width: 1000px) {
  figure.effect-layla figcaption::after,
  figure.effect-layla figcaption::before {
    position: absolute;
    content: '';
    opacity: 0;
  }

  figure.effect-layla figcaption::before {
    top: 50px;
    right: 30px;
    bottom: 50px;
    left: 30px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -moz-transform: scale(0, 1);
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    -moz-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }

  figure.effect-layla figcaption::after {
    top: 30px;
    right: 50px;
    bottom: 30px;
    left: 50px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -moz-transform: scale(1, 0);
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
    -moz-transform-origin: 100% 0;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
  }
}

figure.effect-layla h2 {
  opacity: 0;
  padding-top: 15%;
  -moz-transition: -webkit-transform 0.35s;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}

figure.effect-layla h3 {
  opacity: 0;
  -moz-transform: translate3d(0, -10px, 0);
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
}

figure.effect-layla h2 {
  -moz-transform: translate3d(0, -30px, 0);
  -webkit-transform: translate3d(0, -30px, 0);
  transform: translate3d(0, -30px, 0);
}

figure.effect-layla figcaption::after,
figure.effect-layla figcaption::before,
figure.effect-layla h2,
figure.effect-layla h3,
figure.effect-layla img {
  -moz-transition: opacity 0.35s, -moz-transform 0.35s;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect-layla:hover img {
  opacity: 0;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

figure.effect-layla:hover figcaption::after,
figure.effect-layla:hover figcaption::before {
  opacity: 1;
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

figure.effect-layla:hover h2,
figure.effect-layla:hover h3 {
  opacity: 1;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

figure.effect-layla:hover figcaption::after,
figure.effect-layla:hover h2,
figure.effect-layla:hover h3,
figure.effect-layla:hover img {
  -moz-transition-delay: 0.15s;
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

figure {
  position: relative;
  overflow: hidden;
}

figure img {
  position: relative;
  display: block;
  max-width: 100%;
}

figure figcaption::after,
figure figcaption::before {
  pointer-events: none;
}

figure figcaption,
figure figcaption > span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
figure figcaption > span {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

img {
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s;
}

.no-fade {
  -webkit-animation: none;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: none;
  /* Firefox < 16 */
  -ms-animation: none;
  /* Internet Explorer */
  -o-animation: none;
  /* Opera < 12.1 */
  animation: none;
}
@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.panel {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

.panel:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.panel p {
  font-family: Playfair Display, serif;
  letter-spacing: 0.025em;
  font-size: 16px;
  line-height: 24px;
}

.col-1 {
  width: 33%;
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  padding-right: 40px;
}

.col-2 {
  width: 55%;
  display: inline-block;
  vertical-align: middle;
}
@media screen and (max-width: 700px) {
  .work-hero .col-2 {
    width: 100%;
  }
}

.brands-img {
  float: left;
}

.about-2,
.about-3 {
  border-top: 4px solid #c94e27;
}

.about-2 h2 {
  background: url("../images/bg-clients-head.png") no-repeat right -2px;
  color: #fff;
  text-align: center;
  float: right;
  text-transform: uppercase;
  font-size: 14px;
  padding: 13px 70px 20px;
  margin-top: -1px;
  margin-bottom: 60px;
}

.brands-wrap {
  clear: both;
  max-width: 960px;
  margin: 90px auto 60px;
}

.brands-wrap:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.brands-wrap img {
  float: left;
}
@media screen and (max-width: 960px) {
  .brands-wrap {
    text-align: center;
  }

  .brands-wrap img {
    display: inline-block;
    float: none;
  }
}

.hey-look {
  font-weight: 500;
  font-family: Gotham A, Gotham B, sans-serif;
  color: #7eadbd;
  width: 360px;
  height: 120px;
  vertical-align: middle;
  float: left;
  background: #fff;
  box-sizing: border-box;
  padding-top: 50px;
  text-align: center;
}
@media screen and (max-width: 960px) {
  .hey-look {
    width: 100%;
  }
}

.about-3 .panel {
  padding-top: 90px;
  margin-bottom: 160px;
}

.about-3 .panel .col-1 img {
  max-width: 200px;
  vertical-align: middle;
  display: inline-block;
}
@media screen and (max-width: 750px) {
  .about-3 .panel .col-1 img {
    display: block;
    margin: 0 auto;
  }
}

.about-3 .panel .col-2 {
  padding-top: 90px;
}

.panel .btn {
  background: url("../images/bg-button.png") no-repeat 0 0;
  padding: 1px 32px;
  margin-top: 30px;
}

.panel .btn a {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-family: Gotham A, Gotham B, sans-serif;
  font-weight: 700;
}

.panel .btn a:focus,
.panel .btn a:hover {
  opacity: 0.7;
}
@media screen and (max-width: 750px) {
  .about-3 .col-2 {
    width: 100%;
    float: none;
    padding-top: 0 !important;
  }

  .col-1 {
    width: 100%;
    float: none;
    padding-right: 0;
  }

  .about-3 .panel {
    padding-top: 20px;
    margin-bottom: 20px;
  }

  .panel .btn {
    background: #c94e27;
    text-align: center;
  }

  .brands-img {
    margin: 0 auto;
    float: none;
  }
}

.connect .wrap {
  max-width: 848px;
  margin: 0 auto;
}

.layout-3 {
  margin-bottom: 90px;
  margin-top: 90px;
}

.layout-3:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.layout-3 .column {
  text-align: center;
  width: 33%;
  padding: 0 15px;
  float: left;
  color: #392c19;
}

.layout-3 .column img {
  border: 5px solid #e4ded5;
  margin: 0 auto 18px;
}

.layout-3 .column h2 {
  font-family: Gotham A, Gotham B, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
}

.layout-3 .column .line-2 {
  margin-bottom: 14px;
}

.layout-3 .column .bio {
  font-style: italic;
  font-family: Playfair Display, serif;
  letter-spacing: 0.025em;
  font-size: 14px;
  line-height: 1.3;
  color: #392c19;
}
@media screen and (max-width: 550px) {
  .layout-3 .column {
    width: 100%;
    float: none;
    margin-bottom: 40px;
  }
}

.home-base {
  border-top: #a39d93 2px solid;
  border-bottom: 2px solid #a39d93;
  padding: 20px 0;
  text-align: center;
}

.home-base .line-1 {
  display: block;
  font-size: 20px;
  text-transform: uppercase;
  font-family: Gotham A, Gotham B, sans-serif;
  font-weight: 700;
}

.social-footer {
  border-top: 18px solid #392c19;
  background: #e4ded5;
  padding: 36px 0 181px;
}

.social-footer .buttons {
  text-align: center;
}

.social-footer .buttons a {
  display: inline-block;
}

.contact-desktop {
  display: none;
}
@media screen and (min-width: 630px) {
  .contact-desktop {
    display: block;
    width: 640px;
    background: url("../images/contact-custom.png") no-repeat center 0;
    min-height: 288px;
    margin-top: -37px;
    position: relative;
  }

  .phone {
    display: block;
    text-indent: -9999em;
    width: 102px;
    left: 76px;
    position: absolute;
    bottom: 0;
    height: 163px;
  }

  .address {
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-style: italic;
    font-family: Playfair Display, serif;
    letter-spacing: 0.025em;
    position: absolute;
    right: 166px;
    top: 50px;
  }

  .email {
    position: absolute;
    right: 116px;
    top: 77px;
  }
}

.contact-mobile {
  padding-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}
@media screen and (min-width: 630px) {
  .contact-mobile {
    display: none;
  }
}

.contact-mobile .phone {
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.contact-mobile .email {
  margin: 20px auto 0;
  display: block;
  width: 48px;
}

.connect-address {
  color: #c94e27;
  font-family: Playfair Display, serif;
  letter-spacing: 0.025em;
  font-style: italic;
}

.connect-address a:hover {
  color: #9e3d1f;
}

.phone-num {
  color: #c94e27;
  font-family: Playfair Display, serif;
  letter-spacing: 0.025em;
  font-style: italic;
}

.phone-num a:hover {
  color: #9e3d1f;
}

.email-address {
  color: #c94e27;
  font-family: Playfair Display, serif;
  letter-spacing: 0.025em;
  font-style: italic;
}

.email-address a:hover {
  color: #9e3d1f;
}

.map-card {
  text-align: center;
  margin-top: 100px;
  margin-left: 80px;
}

.map-card h1 {
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #000;
  text-align: center;
  font-family: Gotham A, Gotham B, sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
}

.map-card .subhead {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #000;
  text-align: center;
  font-family: Gotham A, Gotham B, sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
}

.map-card {
  background: #fff;
  z-index: 1000000;
  position: relative;
  max-width: 400px;
  padding: 50px;
}
@media screen and (max-width: 740px) {
  .map-card {
    max-width: 100%;
    margin-top: 30px;
    margin-left: 0;
  }
}

#map {
  height: 100%;
  width: 100%;
  left: 0;
  position: absolute;
  top: 31px;
}
@media screen and (max-width: 740px) {
  #map {
    display: none;
  }
}

#menu {
  position: absolute;
  top: 10px;
  left: 10px;
}

.social-links {
  margin-top: 16px;
  margin-bottom: 0;
}

.social-links a img {
  display: inline-block;
}

.social-links a:hover {
  opacity: 0.8;
}

.social-links .fb {
  margin-left: 10px;
  top: 3px;
  position: relative;
}

.orange-text {
  color: #c94e27;
}

.orange-text a:hover {
  color: #88341A;
}

.small-text {
  font-size: 18px;
}

.global-footer {
  background: #c94e27;
}

.global-footer p {
  text-align: center;
}

.global-footer p img {
  display: inline-block;
}

.global-footer p a {
  display: inline-block;
  vertical-align: middle;
}

.global-footer p a:hover {
  opacity: 0.8;
}

.connect .global-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.global-footer a[title="Email Us"] {
  margin-top: -9px;
  position: relative;
  z-index: 1000;
}

.work-wrap {
  max-width: 1032px;
  margin: 0 auto;
}

.work-hero {
  position: relative;
  margin-top: 104px;
}

.work-hero:before {
  content: "";
  top: -45px;
  left: -95px;
  position: absolute;
  z-index: 1000;
  background-image: url("../images/work-landing-seal.png");
  height: 292px;
  width: 300px;
  background-size: 100%;
  display: block;
}
@media screen and (max-width: 700px) {
  .work-hero:before {
    height: 100px;
    width: 100px;
    left: -10px;
    top: -25px;
  }
}
@media screen and (max-width: 1150px) {
  .work-hero:before {
    height: 160px;
    width: 160px;
    left: -30px;
    top: -45px;
  }
}

.work-hero .work-hero_body {
  background: #c94e27;
  padding: 0;
}

.work-hero .work-hero_body:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
@media screen and (min-width: 700px) {
  .work-hero .work-hero_body {
    padding: 15px 0 0 30px;
  }
}

.work-hero .work-hero_body .col-1 {
  padding: 20px;
  text-align: left;
}
@media screen and (min-width: 700px) {
  .work-hero .work-hero_body .col-1 {
    float: left;
    padding: 0;
    width: 70%;
    margin-top: 30px;
  }
}

.work-hero .work-hero_body .col-1 p {
  color: #fff;
  font-family: Playfair Display, serif;
  line-height: 1.6;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.045em;
}

.work-hero .work-hero_body .col-1 p strong {
  font-style: italic;
}

.work-hero .work-hero_body .col-1 .btn {
  background: url("../images/bg-arrow-work.png");
  color: #c94e27;
  text-align: center;
  text-transform: uppercase;
  height: 27px;
  font-size: 12px;
  font-family: Gotham A, Gotham B, sans-serif;
  width: 148px;
  font-weight: 600;
  padding-top: 7px;
  margin-top: 15px;
  float: none;
  display: block;
  margin: 20px auto 0;
}
@media screen and (min-width: 700px) {
  .work-hero .work-hero_body .col-1 .btn {
    float: left;
    margin: 15px 0 0;
  }
}

.work-hero .work-hero_body .col-2 {
  padding: 20px;
  background: #ececec;
  text-align: center;
}
@media screen and (min-width: 700px) {
  .work-hero .work-hero_body .col-2 {
    width: 25%;
    float: right;
    padding: 25px 35px;
  }
}

.work-hero .work-hero_body .col-2 h2 {
  color: #c94e27;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
  font-size: 22px;
  letter-spacing: 1px;
}

.work-hero .work-hero_body .col-2 p {
  font-style: italic;
  color: #463a26;
  font-family: Playfair Display, serif;
  font-size: 14px;
  line-height: 1.6;
}

.work-body {
  margin-top: 50px;
  margin-bottom: 50px;
}
@media screen and (min-width: 700px) {
  .work-body {
    margin-bottom: 100px;
  }
}

.work-body h2 {
  color: #c94e27;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
  font-size: 28px;
  letter-spacing: 2px;
}

.work-body p {
  font-style: italic;
  color: #463a26;
  font-family: Playfair Display, serif;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 45px;
}

.work-body:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.work-body ul {
  padding: 0 25px;
}
@media screen and (min-width: 700px) {
  .work-body ul {
    width: 50%;
    float: left;
    padding: 0;
  }
}

.work-body ul li {
  list-style: none;
  margin-bottom: 15px;
  text-align: center;
}

.work-body ul li p {
  font-family: Gotham A, Gotham B, sans-serif;
  color: #463a26;
  font-style: normal;
}

.work-body ul li a {
  color: #7eadbd;
  text-transform: uppercase;
  font-family: Gotham A, Gotham B, sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
}

.nav-filter .label {
  display: inline-block;
  font-family: Playfair Display, serif;
  font-size: 14px;
  color: #868686;
  margin-top: 10px;
}

.filter-outer-wrap {
  margin: -20px auto 5px;
  border-top: 2px solid #7eadbd;
  border-bottom: 2px solid #7eadbd;
  padding: 15px 10px;
  position: relative;
  z-index: 10000;
}

.filter-inner-wrap {
  text-align: center;
}

.filter-wrap {
  display: inline-block;
  position: relative;
}

.dropdown-trigger {
  position: relative;
  padding-right: 27px;
  DISPLAY: inline-block;
  color: #7d7d7d;
}

.dropdown-trigger img {
  position: absolute;
  right: 3px;
  top: 7px;
}

.first .dropdown-trigger {
  margin-right: 20px;
}
@media screen and (max-width: 500px) {
  .dropdown-trigger {
    display: block;
    margin-bottom: 10px !important;
    margin-right: 0 !important;
  }
}

.filters {
  display: none;
  border: #b6b6b6 2px solid;
  margin-left: 0;
  position: absolute;
  top: 36px;
}

.client-filter-wrap .filters {
  width: 310px;
}

.filters li {
  text-align: left;
  list-style: none;
}

.filters a {
  text-transform: uppercase;
  color: #868686;
  font-weight: 600;
  font-size: 14px;
  background: #fff;
  padding: 7px 12px;
  display: block;
}

.filter-content {
  display: none;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.filter-content li {
  list-style: none;
  text-align: center;
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 0;
  margin-top: 8px;
  list-style: none;
}

.filter-content li a {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  color: #7eadbd;
}

.filter-content li a:focus,
.filter-content li a:hover {
  text-decoration: underline;
}

.about-1 .panel {
  margin-top: 66px;
  margin-bottom: 50px;
}

.people-image-block {
  max-width: 444px;
  margin: 0 auto 20px;
}
@media screen and (min-width: 960px) {
  .people-image-block {
    float: left;
  }
}

.people-image-block .main-block {
  background: #c94e27;
}

.people-image-block .main-block img {
  display: none;
}

.people-image-block .main-block .active {
  display: block;
}

.people-image-block .ben-quote {
  background: #c94e27;
  color: #fff;
}

.people-image-block .thumb-row:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.people-image-block .thumb-row div {
  float: left;
  width: 25%;
}

.people-image-block .thumb-item {
  opacity: 0.8;
  position: relative;
  max-width: 111px;
}

.people-image-block .thumb-item a {
  display: block;
}

.people-image-block .thumb-item.active,
.people-image-block .thumb-item:hover {
  opacity: 1;
}

.people-image-block .people-text {
  display: none;
}

.people-image-block .active .people-text,
.people-image-block .thumb-item:hover .people-text {
  background: #C7490F;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 113px;
  width: 111px;
  border-bottom: 4px solid #7eadbd;
  text-transform: uppercase;
  font-weight: 600;
  padding: 6px;
  font-size: 14px;
  text-align: center;
  padding-top: 16px;
}

.people-image-block .active .people-text:after,
.people-image-block .thumb-item:hover .people-text:after {
  content: url("../images/people-active-triangle.png");
  height: 24px;
  width: 47px;
  position: absolute;
  top: -24px;
  left: 50%;
  margin-left: -25px;
}

.people-image-block .active .people-text em,
.people-image-block .thumb-item:hover .people-text em {
  text-transform: none;
  font-weight: 300;
  font-size: 14px;
  font-style: normal;
  margin-top: 4px;
  display: block;
}
@media screen and (max-width: 500px) {
  .people-image-block .active .people-text,
  .people-image-block .thumb-item:hover .people-text {
    top: 0;
    bottom: 0;
    right: 0;
    font-size: 10px;
    height: auto;
    width: auto;
  }

  .people-image-block .active .people-text em,
  .people-image-block .thumb-item:hover .people-text em {
    font-size: 9px;
  }
}

.people-image-block .ben-thumb.active:after {
  content: url("../images/people-block-on-state.png");
  position: absolute;
  left: 50%;
  margin-left: -24px;
  top: 0;
}

.people-content-block {
  margin-top: 40px;
}
@media screen and (min-width: 960px) {
  .people-content-block {
    float: left;
    max-width: 50%;
    padding-left: 50px;
  }
}

.people-content-block h2 {
  margin-bottom: 20px;
}

.people-content-block p {
  margin-bottom: 20px;
}

.people-content-block .people-content {
  display: none;
}

.people-content-block .people-content.active {
  display: block;
}
@media screen and (min-width: 500px) {
  .mobile-only {
    display: none;
  }
}

.desktop-only {
  display: none;
}
@media screen and (min-width: 501px) {
  .desktop-only {
    display: block;
  }
}

.work-list p {
  cursor: pointer;
  margin-bottom: 10px;
}

.work-list p span {
  color: #7eadbd;
  text-transform: uppercase;
  font-weight: 600;
}

.work-list .filter-content ul {
  width: 100%;
  float: none;
}

.work-list .filter-content li {
  margin-bottom: 4px;
  margin-top: 0;
  font-style: normal;
  margin-right: 20px;
}

.work-list .filter-content li a {
  letter-spacing: 0.5px;
}
@media screen and (max-width: 600px) {
  /* Staci, put your mobile text styles here */
}
@media screen and (min-width: 601px) {
  /* Staci, put your desktop type styles here */
}
