html, body {
  height: 100%;
}
body {
  background-color: $background;
  color: $text;
  @include font($openSans, normal, normal);
  font-size: 18px;
}

.page {
  width: 100%;
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
  max-width: $max-width;
  @include media('>large') {
    padding-left: 3%;
    padding-right: 3%;
   }
}

.content {
  padding-top: 25px;
  padding-bottom: 25px;

  @include media('>large') {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;

  @include media('>large') {
    flex-wrap: nowrap;
  }

  &__main {
    width: 100%;
    margin-bottom: 20px;

    @include media('>large') {
      margin-bottom: 0;
      width: 70%;
      padding-right: 5%;
    }
  }

  &__sidebar {
    width: 100%;

    @include media('>large') {
      width: 25%;
    }
  }
}
.dashicons-admin-post:before, .dashicons-format-standard:before {
  content: "\f322";
}
