/*
*************************************************

Screen Styles
https://impactsix.com/

*************************************************
*/
@import 'general.animate';
@import 'general.original';
/**
 * Impact Six Overwrite Styles
 */
body {
  position: relative;
}

nav {
  z-index: 1;
  top: -175px;
}
